body {
    background: #5F21CC;
}

.form-control:focus {
    box-shadow: none;
    border-color: #200279;
}

.profile-button {
    background: #5F21CC;
    box-shadow: none;
    border: none;
}

.profile-button:hover {
    background: #200279;
}

.profile-button:focus {
    background: #200279;
    box-shadow: none;
}

.profile-button:active {
    background: #200279;
    box-shadow: none;
}

.back:hover {
    color: #200279;
    cursor: pointer;
}

.labels {
    font-size: 11px;
}

.add-experience:hover {
    background: #200279;
    color: #fff;
    cursor: pointer;
    border: solid 1px #200279;
}
